argh
asn1crypto
atomicwrites
attrs
autopep8
bleach
certifi
cffi
chardet
Click
colorama
cryptography
docopt
docutils
idna
more-itertools
pathlib2
pathtools
pkginfo
pluggy
py
pycodestyle
pycparser
pycrypto
Pygments
pytest
pytest-watch
python-dotenv
PyYAML
readme-renderer
requests
requests-toolbelt
six
tqdm
twine
urllib3
watchdog
webencodings
coverage
codacy-coverage
colored
